<!-- This is the footer -->

<footer class="bg-light text-center">
    <hr class="footer-line">
    <div class="container py-4">
        <div class="row">
            <a href="/about">About</a>
        </div>
        <p>Ventilator - <i>Protecting freedom of speech since 2019</i></p>
    </div>
</footer>