<div class="my-5 mx-auto p-3 bg-darkgrey rounded-5" style="max-width: 50vw">
    <form action="/post" method="post">
        <textarea style="height: 25vh;" name="post_content" id="post_content" type="text" class="form-control text-red rounded-4" placeholder="Write your complaints here"></textarea>
        <i class="text-dark d-block text-end">Screaming as {{logged_in_user.name}}</i>
        <br/>
        <input type="submit" class="form-control btn btn-highlightnt" value="Scream"/>
    </form>
</div>
<hr/>