<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
{{>partials/navbar}}
    <h1 class="m-5 text-center">Empowering frustrated users.</h1>
    <div class="container mt-5 about-container">
        <div class="text-content">
            <h3>Are you outraged at the government? Or are you tired of your neighbour stealing your newspapers?</h3>
            <p>At Ventilator, we believe that you have the freedom and the right to vent once in a while. That's why we started this site!</p>
            <p>In the last four years, we have helped thousands of people</p>
            <strong>Stay healthy with Ventilator</strong>
            <p>Built-up frustration can lead to high blood pressure, which is not good for your heart! High blood pressure has also been linked to cancer in several studies, but don't take our word for it!</p>
            <p>If you feel the pressure building up, log in and express your honest opinion!</p>

            <strong>Stay un-anonymous</strong>
            <p>Posting controversial content on the Internet is no fun, if it can't be found by your friends and family.</p>
            <p>That's why we encourage you to pick a username consisting of your real name. Let your loved ones find out that you think they're cheap, without telling them. Or allow the police to find the person behind your threats faster. That's time saved for all parties!</p>

            <i>We wish you a good venting session!</i>
        </div>

        <div class="image-content shadow-lg">
            <img src="/static/img/about_business_normal.jpg" height="500"/>
        </div>
    </div>

{{> partials/footer}}
</body>
</html>
